NODE_ENV="DEV"
PORT=8004

MONGODB_URL="mongodb+srv://admin:khai11082003@cluster0.g7qc7.mongodb.net/?appName=Cluster0"
MONGODB_DB_NAME="workly-be"

JWT_SECRET=your-secret-key-here
JWT_EXPIRES_IN=90d

USER_SERVICE_URL="http://localhost:8003/api/v1"

REDIS_URI="redis://localhost:6379"
RABBITMQ_URI="amqp://admin:admin@localhost:5672"

ELASTICSEARCH_CLOUD_ID=test:dXMtY2VudHJhbDEuZ2NwLmNsb3VkLmVzLmlvOjQ0MyRlNWZhNDU4YTg4ZWE0OGMyOGI5MzkzMjc1ZmU0YWUzNiRmMGUyOTc0ZGI3MzA0ZWFlOWVmNjU0NWViOGEzYWNlOA==
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=TPGg7pCfcAsu1zaC2FCdml7v